body {
  font-family: 'Muli', sans-serif;
  padding-right: 0 !important;
  font-size: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

h1 {
  margin: 0 0 15px;
  font-size: 5rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 4rem;
}

h3 {
  margin: 10px 0;
  font-size: 3rem;
}

h4 {
  margin: 20px 0px;
  font-size: 2rem;
}

p {
  font-size: 16px;
}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}

.row-custom {
  margin: 0;
  display: flex;
  flex-direction: row;
}

.h-100 {
  height: 100%;
}

.border {
  border-radius: 3px;
}

.p-left-custom {
  padding-left: 0;
}

a:hover,
a:focus {
  text-decoration: none;
}

.icon-margin {
  margin-right: 5px;
}

.date-place {
  color: #757575;
}

.learn-more {
  color: #001970;
  letter-spacing: 1px;
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
}

.link-effect {
  position: relative;
  display: inline-block;
  padding: 0 0 3px;
  outline: none;
}

.link-effect:hover {
  outline: none;
  color: #001970;
}

.link-effect:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #001970;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.link-effect:hover::after,
.link-effect:focus::after {
  height: 2px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

#nav-top {
  margin-bottom: 0;
  background-color: #111e34;
  border: 0;
}

.navbar-brand {
  padding: 0;
}

.logo {
  width: 50px;
  height: 51px;
  margin-top: 4px;
}

.navbar-custom > li > a:focus,
.navbar-custom > li > a:hover,
.navbar-right.navbar-custom > li > a:focus,
.navbar-right.navbar-custom > li > a:hover,
.navbar-right.navbar-custom > li > a:active,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #111e34 !important;
}

.navbar-nav .navbar-custom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-nav li {
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar-nav a {
  color: white;
}

.navbar-nav .link-effect:after {
  background: #ffffff;
}

.modal-dialog {
  width: 400px;
}

.modal-dialog input {
  font-size: 2rem;
}

.modal-backdrop {
  z-index: 1;
}

.modal-header h4 {
  text-align: center;
  color: #001970;
}

.sign-in-form {
  width: 340px;
  padding: 20px;
  line-height: 23px;
}

.sign-in-form a {
  color: #001970;
}

.sign-in-form .clearfix {
  line-height: 20px;
}

.central-blocks {
  background: #111e34;
}

.digital-events,
.news,
.footer {
  background-color: #111e34;
}

.conferences,
.meetups {
  background-color: #F3F3F3;
}

.central-blocks {
  height: 100vh;
}

.central-blocks .jumbotron {
  margin-bottom: 0;
  padding: 30px 0;
  background-color: transparent;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.central-blocks .jumbotron h1 {
  color: white;
  font-size: 45px;
}

.central-blocks .wrapper-main-cards {
  height: 65vh;
}

.central-blocks .main-card {
  padding: 4vh;
  background: -webkit-linear-gradient(linear-gradient(110deg, #002297 60%, #3c4dbc 60%));
  background: -o-linear-gradient(linear-gradient(110deg, #002297 60%, #3c4dbc 60%));
  background: -moz-linear-gradient(linear-gradient(110deg, #002297 60%, #3c4dbc 60%));
  background: linear-gradient(110deg, #002297 60%, #3c4dbc 60%);
  color: #ffffff;
}

.central-blocks .main-card h3 {
  margin-top: 0px;
}

.central-blocks .poster {
  margin: 0px 0px 20px;
}

.central-blocks .poster-small {
  margin: 0 0 20px;
}

.central-blocks .conference {
  width: 100%;
  height: 100%;
}

.central-blocks .digital-event,
.central-blocks .meetup {
  width: 100%;
  height: calc((100% - 30px)/2);
}

.central-blocks .digital-event {
  margin-bottom: 30px;
}

.central-blocks .poster-button-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.angle-down {
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  color: white;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 3vh;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, 0px);
  }
}

.register-btn {
  width: 100%;
  border: 2px solid #ffffff;
  color: #ffffff;
  background: none;
  cursor: pointer;
  padding: 10px 0;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
}

.register-btn:after {
  content: '';
  position: absolute;
  z-index: -5;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.register-btn:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
}

.register-btn:hover,
.register-btn:active {
  color: #001970;
}

.register-btn:hover:after,
.register-btn:active:after {
  width: 100%;
}

.register-btn-small {
  color: #ffffff;
}

.register-btn-other {
  background-color: #001970;
  color: #ffffff;
  width: 100%;
  border: 2px solid #001970;
}

.register-btn-other:hover {
  color: #001970;
  background-color: #001970;
  background-color: #ffffff;
}

.conferences h2 {
  margin-bottom: 2rem;
  margin-top: 0;
}

.conferences .conference-main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.conferences .conference-item {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  margin-bottom: 20px;
  background-color: #ffffff;
}

.conferences .conference-item h2 {
  color: #001970;
}

.conferences .poster-conference {
  width: 100%;
  height: 100%;
}

.conferences .conference-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.conferences .conference-footer {
  position: absolute;
  width: 100%;
}

.conferences .info i {
  margin-right: 5px;
}

.digital-events h2 {
  color: white;
}

.upcoming h3 {
  color: #001970;
}

.main-event {
  padding: 80px 0;
}

.future-events {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
}

.future-events h3 {
  color: #001970;
}

.future-events .future-events-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.events {
  display: flex;
  flex-direction: row;
  flex: 1 0 0%;
  position: relative;
  background-color: white;
  color: black;
  padding: 25px;
  border-radius: 5px;
  margin: 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.card-body h3 {
  margin-top: 4vh;
}

.wrapper-img-upcoming {
  margin-top: -10vh;
}

.img-upcoming {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  left: 50%;
  --width: 70%;
  width: var(--width);
  height: calc(var(--width)*75%);
  z-index: 5;
  margin: 0 auto;
}

.img-future {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  left: 50%;
  --width: 70%;
  width: var(--width);
  height: calc(var(--width)*75%);
  z-index: 5;
  margin: 0 auto;
  border-radius: 3px;
}

.wrapper-img-future {
  margin-top: -10vh;
}

.card-footer {
  margin-top: auto;
}

.button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.meetup-link {
  display: inline-block;
  width: 100%;
}

.meetup-item {
  width: 100%;
  padding: 15px;
  background-color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.meetup-item h3 {
  color: #001970;
  font-weight: 700;
}

.meetup-header {
  width: 100%;
  height: 20px;
}

.meetup-link {
  color: black;
}

.meetup-link:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.3s ease-in;
  color: inherit;
}

.meetup-link:not(:hover) {
  transition: 0.3s;
}

.news h2,
.news h3,
.news p,
.news a {
  color: white;
}

.news a.link-effect:after {
  top: 90%;
  background: #ffffff;
}

.news .border-custom {
  border-right: 1px solid #ffffff;
}

.news h4 {
  margin-top: 0;
}

.news .rss-wrapper {
  margin: 45px 0;
}

.news .rss-wrapper a.link-effect:hover {
  color: #ffffff;
}

.news .rss-wrapper .rss-author {
  font-size: 1.2rem;
}

.footer h2 {
  color: #ffffff;
}

.footer .copyright-wrapper {
  text-align: center;
}

.subscribe-form {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  padding: 6px 12px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.subscribe-btn {
  height: 40px;
  margin-left: 10px;
  vertical-align: baseline;
  border: none;
}

@media (min-width: 1600px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 4rem;
  }
  h4 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }
  .navbar-custom li {
    font-size: 1.8rem;
  }
  .jumbotron > h1 {
    font-size: 8rem !important;
  }
  .learn-more {
    font-size: 2rem;
  }
  .wrapper-img-upcoming {
    height: 45%;
  }
  .wrapper-img-future {
    height: 40%;
  }
}
