body {
  font-family: 'Muli', sans-serif;
  padding-right: 0 !important;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  margin: 15px 0px;
}

h2 {
  margin-top: 10px;
}

h3 {
  margin: 10px 0px;
}

h4 {
  margin: 20px 0px;
}

p {
  font-size: 16px;
}

.no-gutter {
  padding-right: 0;
  padding-left: 0;
}

.row-custom {
  margin: 0;
  display: flex;
  flex-direction: row;
}

.border {
  border-radius: 3px;
}

.p-left-custom {
  padding-left: 0;
}

a:hover,
a:focus {
  text-decoration: none;
}

.icon-margin {
  margin-right: 5px;
}

.date-place {
  color: #757575;
}

.learn-more {
  color: #001970;
  letter-spacing: 1px;
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
}

.link-effect {
  position: relative;
  display: inline-block;
  padding: 0 0 3px;
  outline: none;
}

.link-effect:hover {
  outline: none;
  color: #001970;
}

.link-effect:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #001970;
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.link-effect:hover::after,
.link-effect:focus::after {
  height: 2px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

#nav-top {
  margin-bottom: 0;
  background-color: #000a12;
  border: 0;
}

.navbar-brand {
  padding: 0;
}

.logo {
  width: 50px;
  height: 51px;
  margin-top: 4px;
}

.navbar-custom > li > a:focus,
.navbar-custom > li > a:hover,
.navbar-right.navbar-custom > li > a:focus,
.navbar-right.navbar-custom > li > a:hover,
.navbar-right.navbar-custom > li > a:active,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #000a12 !important;
}

.navbar-nav li {
  height: 50px;
  line-height: 50px;
  font-weight: 700;
}

.navbar-nav a {
  color: white;
}

.modal-dialog {
  width: 400px;
}

.modal-backdrop {
  z-index: 1;
}

.modal-header h4 {
  text-align: center;
  color: #001970;
}

.sign-in-form {
  width: 340px;
  padding: 20px;
}

.sign-in-form a {
  color: #001970;
}

.sign-in-form .clearfix {
  line-height: 20px;
}

.central-blocks,
.jumbotron,
.digital-events,
.news,
.footer {
  background-color: #000a12;
}

.conferences,
.meetups {
  background-color: #F3F3F3;
}

.central-blocks {
  color: #1b1d1d;
  height: 100vh;
}

.jumbotron {
  margin-bottom: 0;
  padding: 30px 0;
}

.jumbotron h1 {
  color: white;
  font-size: 45px;
}

.poster-card {
  background-color: white;
  padding: 15px;
  background: -webkit-linear-gradient(linear-gradient(110deg, #001970 60%, #303f9f 60%));
  background: -o-linear-gradient(linear-gradient(110deg, #001970 60%, #303f9f 60%));
  background: -moz-linear-gradient(linear-gradient(110deg, #001970 60%, #303f9f 60%));
  background: linear-gradient(110deg, #001970 60%, #303f9f 60%);
  color: #ffffff;
}

.register-btn {
  width: 100%;
  border: 2px solid #ffffff;
  color: #ffffff;
  background: none;
  cursor: pointer;
  padding: 10px 0;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 1;
}

.register-btn:after {
  content: '';
  position: absolute;
  z-index: -5;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.register-btn:after {
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
}

.register-btn:hover,
.register-btn:active {
  color: #001970;
}

.register-btn:hover:after,
.register-btn:active:after {
  width: 100%;
}

.register-btn-small {
  color: #ffffff;
}

.register-btn-other {
  background-color: #001970;
  color: #ffffff;
  width: 100%;
  border: 2px solid #001970;
}

.register-btn-other:hover {
  color: #001970;
  background-color: #001970;
  background-color: #ffffff;
}

.poster {
  width: 240px;
  height: 275px;
  margin: 15px 0px 20px;
}

.poster-small {
  margin: 10px 0 20px;
}

.conference {
  width: 650px;
  height: 400px;
}

.digital-event,
.meetup {
  width: 460px;
  height: 185px;
}

.digital-event {
  margin-bottom: 30px;
}

.angle-down {
  display: flex;
  justify-content: center;
  margin-top: 1.5vh;
  color: white;
}

.conferences h2 {
  margin-bottom: 20px;
}

.conferences .conference-main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.conferences .conference-item {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  margin-bottom: 20px;
  background-color: #ffffff;
}

.conferences .conference-item h2 {
  color: #001970;
}

.conferences .poster-conference {
  width: 270px;
  height: 315px;
}

.conferences .conference-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.conferences .conference-footer {
  position: absolute;
  width: 100%;
}

.conferences p.info {
  font-size: 18px;
}

.conferences .info i {
  margin-right: 5px;
}

.digital-events h2 {
  color: white;
}

.upcoming h3 {
  color: #001970;
}

.main-event {
  padding: 50px 0;
}

.future-events {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
}

.future-events h3 {
  color: #001970;
}

.events {
  display: flex;
  flex-direction: column;
  flex: 1 0 0%;
  position: relative;
  background-color: white;
  color: black;
  padding: 25px;
  border-radius: 5px;
  margin: 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 110px;
}

.wrapper-img-upcoming {
  width: 250px;
  height: 160px;
  position: absolute;
  top: -10%;
  left: 25%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background: white;
}

.img-future {
  width: 245px;
  height: 155px;
  margin: 3px;
}

.wrapper-img-future {
  position: absolute;
  top: -7%;
  left: 15%;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-radius: 5px;
  background: white;
}

.img-upcoming {
  width: 245px;
  height: 155px;
  margin: 3px;
}

.card-footer {
  margin-top: auto;
}

.button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.meetup-link {
  display: inline-block;
}

.meetup-item {
  width: 270px;
  height: 170px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.meetup-header {
  width: 100%;
  height: 20px;
}

.meetup-link {
  color: black;
}

.meetup-link:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.3s ease-in;
  color: inherit;
}

.meetup-link:not(:hover) {
  transition: 0.3s;
}

.news h2,
.news h3,
.news p,
.news a {
  color: white;
}

.news a.link-effect:after {
  top: 80%;
  background: #ffffff;
}

.footer h2 {
  color: #ffffff;
}

.subscribe-form {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.subscribe-btn {
  height: 40px;
  margin-left: 10px;
  vertical-align: baseline;
  border: none;
}
