$light_background: #F3F3F3;
$main_color: #001970;
$background_color: #111e34;
$background: linear-gradient(110deg, #002297 60%, #3c4dbc 60%);
// $background_main: radial-gradient(circle, rgba(63,51,96,1) 0%, rgba(36,32,58,1) 52%);
$button_color: #ffffff;
$font_button_color: #ffffff;
$font_button_color_hover: #001970;
$color_central_blocks: #ffffff;
$shadow: 0 6px 12px rgba(0, 0, 0, .175);
$secondary_font_color: #757575;
body {
    font-family: 'Muli', sans-serif;
    padding-right: 0 !important;
    font-size: 1rem;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

h1 {
    margin: 0 0 15px;
    font-size: 5rem;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 4rem;
}

h3 {
    margin: 10px 0;
    font-size: 3rem;
}

h4 {
    margin: 20px 0px;
    font-size: 2rem;
}

p {
    font-size: 16px;
}

.no-gutter {
    padding-right: 0;
    padding-left: 0;
}

.row-custom {
    margin: 0;
    display: flex;
    flex-direction: row;
}
.h-100{
    height: 100%;
}
.border {
    border-radius: 5px;
}

.p-left-custom {
    padding-left: 0;
}

a:hover,
a:focus {
    text-decoration: none;
}

.icon-margin {
    margin-right: 5px;
}

.date-place {
    color: $secondary_font_color;
}

.learn-more {
    color: $main_color;
    letter-spacing: 1px;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
}

.link-effect {
    position: relative;
    display: inline-block;
    padding: 0 0 3px;
    outline: none;
}

.link-effect:hover {
    outline: none;
    color: $main_color;
}

.link-effect:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: $main_color;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.link-effect:hover::after,
.link-effect:focus::after {
    height: 2px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

#nav-top {
    margin-bottom: 0;
    background-color: $background_color;
    border: 0;
}

.navbar-brand {
    padding: 0;
}

.logo {
    width: 50px;
    height: 51px;
    margin-top: 4px;
}

.navbar-custom>li>a:focus,
.navbar-custom>li>a:hover,
.navbar-right.navbar-custom>li>a:focus,
.navbar-right.navbar-custom>li>a:hover,
.navbar-right.navbar-custom>li>a:active,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: $background_color !important;
}

.navbar-nav {
    .navbar-custom{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    li {
        font-weight: 700;
        font-size: 1.5rem;
    }
    a {
        color: white;
    }
    .link-effect:after {
        background: #ffffff;
    }
}
.hamburger-icon{
    color: white;
}
.hamburger-button{
    margin-right: 0;
}
.modal-dialog {
    width: 400px;
    input{
        font-size: 2rem;
    }
}

.modal-backdrop {
    z-index: 1;
}

.modal-header {
    h4 {
        text-align: center;
        color: $main_color;
    }

}

.sign-in-form {
    width: 340px;
    padding: 20px;
    line-height: 23px;
    a {
        color: $main_color;
    }
}

.sign-in-form .clearfix {
    line-height: 20px;
}

.central-blocks{
    background: $background-color;
}

.digital-events,
.blog,
.footer {
    background-color: $background_color
}

.conferences,
.meetups {
    background-color: $light-background;
}
.central-blocks {
    height: 100vh;

    .jumbotron {
        margin-bottom: 0;
        padding: 30px 0;
        background-color: transparent;
        height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .jumbotron h1 {
        color: white;
        font-size: 45px;
    }
    .wrapper-main-cards{
        height: 65vh;
    }
    .main-card {
        padding: 4vh;
        background: -webkit-linear-gradient($background);
        background: -o-linear-gradient($background);
        background: -moz-linear-gradient($background);
        background: $background;
        color: $color_central_blocks;
        h3{
            margin-top: 0px;
        }
    }
    .poster {
        margin: 0px 0px 20px;
        max-height: 49vh;
    }
    
    .poster-small {
        margin: 0 0 20px;
    }
    
    .conference {
        width: 100%;
        height: 100%;
    }
    .digital-event,
    .meetup {
        width: 100%;
        height: calc((100% - 30px)/2);
    }
    
    .digital-event {
        margin-bottom: 30px;
    } 
    .poster-button-wrapper{
        display: flex;
        flex-direction: column;
        flex-grow: 1;   
    }
}   .angle-down {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    color: white;
}
.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 3vh;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

.register-btn {
    width: 100%;
    border: 2px solid $button_color;
    color: $font_button_color;
    background: none;
    cursor: pointer;
    padding: 10px 0;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1;
}

.register-btn:after {
    content: '';
    position: absolute;
    z-index: -5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.register-btn:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: $button_color;
}

.register-btn:hover,
.register-btn:active,
.register-btn:focus {
    color: $font_button_color_hover;
    outline: none !important;
}

.register-btn:hover:after,
.register-btn:active:after {
    width: 100%;
}

.register-btn-small {
    color: $font_button_color;
}

.register-btn-other {
    background-color: $main_color;
    color: $button_color;
    width: 100%;
    border: 2px solid $main_color;
}

.register-btn-other:hover,
.register-btn-other:focus {
    color: $main-color;
    background-color: $main_color;
    background-color: $button_color;
    outline: none !important;
}




.conferences {
    h2 {
        margin-bottom: 2rem;
        margin-top: 0;
    }
    .conference-main {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    .conference-item {
        box-shadow: $shadow;
        margin-bottom: 35px;
        background-color: #ffffff;
    }
    .conference-item h2 {
        color: $main_color;
    }
    .poster-conference {
        width: 100%;
        height: 100%;
        
    }
    .conference-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .conference-footer {
        position: absolute;
        width: 100%;
    }
    p.info {
        // font-size: 18px;
    }
    .info i {
        margin-right: 5px;
    }
}

.digital-events h2 {
    color: white;
}

.upcoming h3 {
    color: $main_color;
}

.main-event {
    padding: 80px 0;
}

.future-events {
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
    h3 {
        color: $main_color;
    }
    .future-events-wrapper{
        display: flex;
        flex-flow: row wrap;
    }
}

.events {
    display: flex;
    flex-direction: row;
    flex: 1 0 0%;
    position: relative;
    background-color: white;
    color: black;
    padding: 25px;
    border-radius: 5px;
    margin: 15px;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    h3{
        margin-top: 4vh;
    }
}
.wrapper-img-upcoming{
    margin-top: -10vh;
}
.img-upcoming {
    box-shadow: $shadow;
    left: 50%;
    --width: 70%;
    width: var(--width);
    height: calc(var(--width)*75%);
    z-index:5;
    margin: 0 auto;
}

.img-future {
    box-shadow: $shadow;
    left: 50%;
    --width: 70%;
    width: var(--width);
    height: calc(var(--width)*75%);
    z-index:5;
    margin: 0 auto;
    border-radius: 3px;
}

.wrapper-img-future {
    margin-top: -10vh;
}

.card-footer {
    margin-top: auto;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.meetup-header {
    width: 100%;
    height: 20px;
}
.meetup-carousel{
    .carousel-inner{
    height: 250px;
    display: flex;
    align-items: center;
    }
    .carousel-control{
        color: $main_color !important;
        opacity: 0.5;
    }
    .left, .right{
        background-image: none !important;
        height: 220px;
    }   
    .left{
        left: -10%;
    }
    .right{
        right: -10% !important;
    }
    .item, .active{
       height: 250px;
    }
    .meetup-link {
        color: black;
        display: inline-block;
        width: 100%;
        margin: 15px 0;
        &:hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            transition: all 0.3s ease-in;
            color: inherit;
        }
        &:not(:hover) {
            transition: 0.3s;
        }
        .meetup-item {
            width: 100%;
            padding: 15px;
            background-color: white;
            box-shadow: $shadow;
            h3{
                color: $main_color;
                font-weight: 700;
            }
        }   
    }
}

.blog {
    h2,
    h3,
    p,
    a {
        color: white;
    }
    a.link-effect:after {
        top: 90%;
        background: #ffffff;
        
    }
    .border-custom{
        border-right: 1px solid #ffffff;
    }
    h4{
        margin-top: 0;
    }
    .blog-wrapper{
        padding-right: 20px;
    }
    .rss-wrapper{
        margin: 45px 0;
        &:first-of-type{
            margin-top: 20px;
        }
        a.link-effect:hover{
            color: #ffffff
        }
        a.link-effect:after{
            top: 75%;
        }
        .rss-author{
            font-size: 1.2rem;
        }
    }

}
.footer {
    h2 {
        color: #ffffff;
    }
    .copyright-wrapper{
        text-align: center;
    }
}

.subscribe-form {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.subscribe-btn {
    height: 40px;
    margin-left: 10px;
    vertical-align: baseline;
    border: none;
}

@media (min-width: 1600px) {
    h1{
        font-size: 6rem;
    }
    h2{
        font-size: 5rem;
    }
    h3{
        font-size: 4rem;
    }
    h4{
        font-size: 3rem;
    }
    p{
        font-size: 2rem;
    }
    .navbar-custom li{
        font-size: 1.8rem;
    }
    .jumbotron>h1{
        font-size: 8rem !important;
    }
    .learn-more{
        font-size: 2rem;
    }
    .wrapper-img-upcoming{
        height: 45%;
    }
    .wrapper-img-future{
        height: 40%;
    }
 }

 @media (max-width: 992px) {
    .navbar-fixed-top .navbar-collapse{
        max-height: 680px;
        .link-effect:after{
            display: none;
       }
    }
    .modal-dialog {
        width: 350px;
        margin: 0 auto;
        margin-top: 15px;
        input{
            font-size: 1.5rem;
        }
    }
    .sign-in-form{
        height: auto;
        max-height: 350px;
        overflow-x: hidden;
        overflow-y: visible;
    }
    .sign-in-form> form > h2,
    .sign-in-form> form > div.clearfix >label,
    .sign-in-form> form > div.clearfix > a{
            color: white;
    }
    .pass a{
        color: white;
    }
    .central-blocks{
         height: 100%;
    }
    .main-card{
        padding: 20px !important;
        height: auto !important;
        h1{
            font-size: 4.5rem;
        }
    }
    .wrapper-main-cards{
        height: 100%  !important;
    }
    .digital-event,
    .meetup {
        height: auto !important;
    }
    .digital-event{
        margin-top: 30px;
    }
    .row-custom{
        flex-direction: column;
    }
    .p-left-custom{
        padding-left: 15px;
        padding-top: 15px;
    }
    .events{
        padding: 20px;
        margin: 0;
    }
    .img-upcoming, .img-future{
        --width: 90%;
    }
    .card-default{
        margin-top: 100px;
    }
    .card-default:first-child{
        margin-top: 0;
    }
    .meetup-link{
        margin-bottom: 15px;
        color: black;
        &:hover{
            transform: none;
            transition: none;
        }
        &focus{
            .meetup-item{
            box-shadow: 0 6px 12px rgba(0, 0, 0, .375);
            }    
        }
        .meetup-item {
            width: 100%;
            padding: 15px;
            margin-bottom: 15px;
            background-color: white;
            box-shadow: $shadow;
            h3{
                color: $main_color;
                font-weight: 700;
            }
        }   
    }
    
   .blog{
    .border-custom{
        border-right: 0;
    }
    .rss-wrapper{
        margin: 30px 0;
    }
   }
}